* {
  margin: 0;
  padding: 0;
  font-family: monospace;

}

body {
}

.wrap {
  display: flex;
  aspect-ratio: 2/1;
  width: 100%;
}

#myConsole {
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 20px;

}

#monitor, #minus, #plus {

}

#monitor {
  display: flex;
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}

#monitor > span {
  position: relative;
  background-color: black;
  color: white;
  border-radius: 5px;


  }

#minus {
  width: 20%;
  border-radius: 40px 0 0 40px;
  padding: 3em
}

#plus {
  width: 20%;
  border-radius: 0 40px 40px 0;
  padding: 3em;
}

#monitor > span, #plus > span,  #minus > span {
  font-size: 30pt;
}

.menu {
  width: 100%;
  height: 20px;
  border-style: solid;
  border-color: red;

}

.listElm {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 6px;
  width: 10%;
  height: 100%;
  font-size: 20pt;

}

.positive {
  background-color: lightCoral;
  color: maroon;
}

.negative {
  background-color: lightskyblue;
  color: royalblue;
}

.zero {
  background-color: white;
  color: gray
}

.toDelete {
  background-color: black;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
