* {
  margin: 0;
  padding: 0;
  font-family: monospace;

}


#number, #minus, #plus {
  width: 40%;
}

#number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
  background-color: black;
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: #3c3b3b;
  border-width: 25px;

}

#minus {
  width: 20%;
  border-radius: 30px 0 0 30px;
  padding: 3em
}

#plus {
  width: 20%;
  border-radius: 0 30px 30px 0;
  padding: 3em;
}

#number > span, #plus > span,  #minus > span {
  font-size: 30pt;
}

#myConsole {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 2/1;
}

#btnMakeButton {
  float: right;
  height: 100%;
  width: 100px;
  background-color: #21910a94;
}

.listElm {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 6px;
  width: 10%;
  height: 100%;
  font-size: 20pt;

}


.positive {
  background-color: lightCoral;
  color: maroon;
}

.negative {
  background-color: lightskyblue;
  color: royalblue;
}

.zero {
  background-color: white;
  color: gray
}

.toDelete {
  background-color: black;
}

/*custom button style*/

.customKeyboard {
  border-style: solid;
}




/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
