* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 4em
}

.box {
  display: flex;
  justify-content: center;
  margin: 3em;
  margin-top: 0;
}

/*counter style*/
#number {
  padding: 4em;
  border-style: solid;
  border-color: gray;
  border-width: 2em;
}

#counter > button {
  padding: 3em;
}

#minus {
  border-radius: 30px 0 0 30px
}

#plus {
  border-radius: 0 30px 30px 0
}

/*memo style*/

.label {
  display: flex;
  justify-content: center;
  margin-bottom: 0;

}

.delConfirm {
  display: none
}

.list {
  display: flex;
  border-style: solid;
  height: 5em;
  width: 500px;
  margin: 2em;
  margin-top: 0;

}

.memoElm {
  display: flex;
  border-style: solid;
  justify-content: center;
  align-items: center;
}



/*custom button style*/

#customButtonSetup {
  display: none;
}

#customKeyboard {
  border-style: solid;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
